@model IndexViewModel

@{
    ViewData["Title"] = "Home Page";
}

<form asp-controller="Home" asp-action="Index" method="post" enctype="multipart/form-data">
    <input type="file" name="postedFile" />
    <input type="submit" value="Import" />
</form>
@if (Model != null)
{
    <h2>Imported data:</h2>
    <br />
    <table class="table">
        <thead>
            <tr>
                <th>Employee ID</th>
                <th>Project ID</th>
                <th>Date From</th>
                <th>Date To</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Employee e in Model.Employees)
            {
                <tr>
                    <td>@e.ID</td>
                    <td>@e.ProjectID</td>
                    <td>@e.DateFrom.ToShortDateString()</td>
                    <td>@e.DateTo.ToShortDateString()</td>
                </tr>
            }
        </tbody>
    </table>

    <br />
    <h2>Best coworkers:</h2>
    <table class="table">
        <tr>
            <th>First Employee ID</th>
            <th>Second Employee ID</th>
            <th>Project ID</th>
            <th>Worked Days</th>
        </tr>
        @foreach (EmployeesWorkedTogether e in Model.EmployeesWorkedTogethers)
        {
            <tr>
                <td>@e.FirstEmployeeID</td>
                <td>@e.SecondEmployeeID</td>
                <td>@e.ProjectID</td>
                <td>@e.WorkedDays</td>
            </tr>
        }
    </table>
}
